<div id='actions'>
  <h2><%= t('.details')%></h2>
  <p>
    <strong><%= t('.age') %>:</strong> <%= time_ago_in_words(@blog_comment.created_at) %>
  </p>
  <h2><%= t('.actions') %></h2>
  <ul>
    <li>
      <%= link_to t('.back'), main_app.refinery_admin_blog_comments_path, :class => "back_icon" %>
    </li>
    <li>
      <%= link_to t('.reject'), main_app.rejected_refinery_admin_blog_comment_path(@blog_comment, :return_to => 'rejected'),
          :class => 'comment_cross_icon' unless @blog_comment.rejected? %>
    </li>
    <li>
      <%= link_to t('.approve'), main_app.approved_refinery_admin_blog_comment_path(@blog_comment, :return_to => 'approved'),
          :class => 'comment_tick_icon' unless @blog_comment.approved? %>
    </li>
  </ul>
</div>
<div id='records'>
  <h2><%= t('.comment') %></h2>
  <table id='inquiry'>
    <tr>
      <td>
        <strong><%= t('.blog_post') %></strong>
      </td>
      <td>
        <%= link_to @blog_comment.post.title,
                    main_app.blog_post_path(@blog_comment.post, :anchor => "comment-#{@blog_comment.to_param}"),
                    :target => '_blank' %>
      </td>
    </tr>
    <tr>
      <td>
        <strong><%= t('.from') %></strong>
      </td>
      <td>
        <%= @blog_comment.name %> [<%= mail_to @blog_comment.email, @blog_comment.email, {:title => t('.click_to_email')} %>]
      </td>
    </tr>
    <tr>
      <td>
        <strong><%= t('.date') %></strong>
      </td>
      <td>
        <%= l(Date.parse(@blog_comment.created_at.to_s), :format => :long) %>
      </td>
    </tr>
    <tr>
      <td valign='top'>
        <strong><%= t('.message') %></strong>
      </td>
      <td>
        <p style='margin-top: 0px'>
          <%= @blog_comment.message.gsub("\r\n\r\n", "\r\n").gsub("\r\n", "</p><p>") %>
        </p>
      </td>
    </tr>
  </table>
</div>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/backend') %>
