<%= form_with(model: [refinery, :blog_admin, @post], local: true) do |f| -%>
  <%= render "/refinery/admin/error_messages",
             object: f.object,
             include_object_name: true %>

  <%= render '/refinery/admin/locale_picker',
              current_locale: Mobility.locale %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, class: 'larger widest' -%>
  </div>

  <%#= render '/refinery/blog/admin/tabbed_fields', f: f, tabs: Refinery::Blog.tabs, object: @post %>
  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>

        <% Refinery::Blog.tabs.each_with_index do |tab, index| %>
          <li class="ui-state-default <%= 'ui-state-active' if index == 0 %>">
            <%= link_to tab.name, Refinery::TabHelper.to_id(tab.name,"editor") %>
          </li>
        <% end %>
      </ul>

      <div id='page_part_editors'>
        <% Refinery::Blog.tabs.each do |tab| %>
          <div class='page_part clearfix' id='<%= Refinery::TabHelper.to_slug(tab.name, "editor") %>'>
            <%= render tab.partial, f:f, fields: tab.fields, object:@post %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "/refinery/admin/form_actions",
             f: f,
             continue_editing: true,
             delete_title: t('delete', scope: 'refinery.blog.admin.posts.post'),
             before_delete_button: (link_to(t('delete_translation', scope: 'refinery.blog.admin.posts.post'),
               refinery.delete_translation_blog_admin_post_path(@post, locale_to_delete: Mobility.locale),
               method: :post,
               data: {
                 confirm: t('delete_translation_confirmation', scope: 'refinery.blog.admin.posts.post')
               },
               class: "button confirm-delete") if Refinery::I18n.frontend_locales.many? && @post.translations.size > 1)
  %>
<% end -%>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/backend') %>
<% content_for :javascripts, javascript_include_tag('refinery/blog/backend') %>
<%= render 'refinery/shared/admin/autocomplete',
           dom_id: '#post_tag_list',
           url: refinery.tags_blog_admin_posts_url %>

