<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(post) -%>">
  <span class='title'>
    <%= post.title.presence || post.translations.detect {|t| t.title.present?}.title %>
    <span class="preview">
      <% if Refinery::I18n.frontend_locales.many? %>
        <span class='locales'>
          <% post.translations.sort_by{ |t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
            <% if translation.title.present? %>
              <%= link_to refinery.edit_blog_admin_post_path(post, :switch_locale => translation.locale), :class => 'locale', title: translation.locale.upcase do %>

                <div class="<%=translation.locale %> locale_marker">
                  <%= locale_text_icon(translation.locale.upcase) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </span>
      <% end %>

      <%= post.published_at.try(:strftime, '%b %d, %Y') || 'draft' %>
      <%= " by #{post.author.username}" if post.author.present? %>
      <% if post.draft? %>
        <span class="label notice"><%= t('refinery.blog.admin.posts.post.draft') %></span>
      <% else %>
        <%= post.published_at.strftime('%b %d, %Y') %>
      <% end %>
    </span>
  </span>
  <span class='actions'>
    <%= action_icon(:preview, refinery.blog_post_path(post), t('.view_live_html')) %>
    <%= action_icon(:edit,    refinery.edit_blog_admin_post_path(post), t('.edit') ) %>
    <%= action_icon(:delete,  refinery.blog_admin_post_path(post), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: post.title)}}  ) %>
  </span>
</li>


