<li>
  <h2><%= link_to post.title, blog_post_url(post) %></h2>
  <p class='posted_at'>
    <%= t('blog.shared.posts.created_at', :when => post.created_at.strftime('%d %B %Y')) %>
  </p>
  <%= truncate(post.body, 
               :length => RefinerySetting.find_or_set(:blog_post_teaser_length, 250), 
               :preserve_html_tags => true) %>
  <p>
    <%= link_to t('blog.shared.posts.read_more'), blog_post_url(post) %>
    
    <span class='comment_count'>
      <% if post.comments.any? %>
         (<%= pluralize(post.comments.count, t('blog.shared.comments.singular')) %>)
      <% else %>
        (<%= t('blog.shared.comments.none') %>)
      <% end %>
    </span>
  </p>
</li>