<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(post) -%>">
  <span class='title'>
    <%= post.title %>
    <span class="preview">
      <%= post.published_at.try(:strftime, '%b %d, %Y') || 'draft' %>
      <%= " by #{post.author.username}" if post.author.present? %>
    </span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), main_app.blog_post_path(post),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), main_app.edit_refinery_admin_blog_post_path(post),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), main_app.refinery_admin_blog_post_path(post),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :method => :delete,
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => post.title) %>
  </span>
</li>
