<aside id="comments">
  <h2><%= t('blog.posts.show.comments.title') %></h2>
  <% if (comments = @blog_post.comments.approved).any? %>
    <%= render :partial => "comment", :collection => comments %>
  <% else %>
    <p>
      <%= t('none', :scope => 'blog.shared.comments') %>.
    </p>
  <% end %>

  <% flash.each do |key, value| %>
    <div id='flash' class="flash flash_<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <h2><%= t('blog.posts.show.comments.add') %></h2>
  <%= form_for [:blog_post, @blog_comment] do |f| %>
    <%= render :partial => "/shared/admin/error_messages",
               :locals => {
                 :object => f.object,
                 :include_object_name => true
               } %>
    <div class='field'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='field'>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class='field message_field'>
      <%= f.label :message %>
      <%= f.text_area :message, :rows => 6 %>
    </div>
    <div class='field form-actions'>
      <%= f.submit t('.submit') %>
    </div>
  <% end %>
</aside>
