<% flash.each do |key, value| %>
 <div id='flash' class="flash flash_<%= key %>">
   <%= value %>
 </div>
<% end %>
<article id="blog_post">
  <header>
    <h1><%= @blog_post.title %></h1>
    <section class='details'>
      <time datetime="<%=l @blog_post.published_at.to_date, :format => :default %>" class='posted_at'>
        <%= t('blog.shared.posts.created_at', :when => l(@blog_post.published_at.to_date, :format => :short)) %>
      </time><%= "#{t('blog.posts.show.by')} #{@blog_post.author.username}" if @blog_post.author.present? %>.
      <% if (categories = @blog_post.categories).any? %>
        <aside class='filed_in'>
          <%= t('blog.posts.show.filed_in') %>
          <% categories.each_with_index do |category, index| %>
            <%= link_to category.title, blog_category_url(category) -%><%= ',' if index < ((categories.length) - 1) %>
          <% end %>
        </aside>
      <% end %>
    </section>
  </header>
  <%= @blog_post.body.html_safe %>

  <% if BlogPost::ShareThis.enabled? %>
    <span class="st_sharethis" displayText="ShareThis"></span>
  <% end %>
</article>
<%= render :partial => '/shared/draft_page_message' unless @blog_post.nil? or @blog_post.live? -%>
<%= render 'nav' if next_or_previous?(@blog_post) %>
