<% content_for :body_content_left do %>
  <%=raw @page[Page.default_parts.first.to_sym] if Page.default_parts.any? %>

  <% if @blog_posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/blog/shared/post", :collection => @blog_posts %>
      <%= will_paginate @blog_posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :body_content_right_prepend do -%>
  <%= @page[Page.default_parts.second.to_sym] if Page.default_parts.many? %>
<% end -%>

<%= render :partial => 'blog/shared/body_content_right' %>

<%= render :partial => "/shared/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
