<% content_for :body_content_left do %>
  <%=raw @page[Page.default_parts.first.to_sym] if Page.default_parts.any? %>

  <% if @blog_posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/blog/shared/post", :collection => @blog_posts %>
      <%= will_paginate @blog_posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%=raw @page[Page.default_parts.second.to_sym] if Page.default_parts.many? %>

  <%= render :partial => "/blog/shared/categories" %>
  <%= render :partial => "/blog/shared/tags" %>
  <%= render :partial => "/blog/shared/rss_feed" %>
  <%= render :partial => "/blog/shared/archive_list" %>
<% end %>

<%= render :partial => "/shared/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
