<% content_for :head do %>
  <% if BlogPost::ShareThis.enabled? %>
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script>
      stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});
    </script>
  <% end %>
<% end %>

<% content_for :body_content_title, @blog_post.title %>

<% content_for :body_content_left do %>
  <article id="show_blog_post">
    <header>
      <p class='posted_at'>
        <%= t('blog.shared.posts.created_at', :when => @blog_post.published_at.strftime('%d %B %Y')) %>.

        <% if (categories = @blog_post.categories).any? %>
          <span class='filed_in'>
            <%= t('.filed_in') %>
            <% categories.each_with_index do |category, index| %>
                <%= link_to category.title, blog_category_url(category) -%><%= ',' if index < ((categories.length) - 1) %>
            <% end %>
          </span>
        <% end %>
      </p>
    </header>
    <%= @blog_post.body.html_safe %>

    <% if BlogPost::ShareThis.enabled? %>
      <span class="st_sharethis" displayText="ShareThis"></span>
    <% end %>
  </article>
  <% if BlogPost.comments_allowed? %>
    <aside id="comments">
      <h2><%= t('.comments.title') %></h2>

      <% if (comments = @blog_post.comments.approved).any? %>
        <%= render :partial => "comment", :collection => comments %>
      <% else %>
        <p>
          <%= t('blog.shared.comments.none') %>.
        </p>
      <% end %>

      <% flash.each do |key, value| %>
        <div id='flash' class="flash flash_<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <h2><%= t('.comments.add') %></h2>
      <% form_for [:blog_post, @blog_comment] do |f| %>
        <% if Rails.version < '3.0.0'%>
          <%= f.error_messages %>
        <% else %>
          <%= render :partial => "/shared/admin/error_messages",
                     :locals => {
                       :object => f.object,
                       :include_object_name => true
                     } %>
        <% end %>
        <div class='field'>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class='field'>
          <%= f.label :email %>
          <% if Rails.version > '3.0.0' %>
            <%= f.email_field :email %>
          <% else %>
            <%= f.text_field :email %>
          <% end %>
        </div>
        <div class='field message_field'>
          <%= f.label :message %>
          <%= f.text_area :message, :rows => 6 %>
        </div>
        <div class='field form-actions'>
          <%= f.submit t('.submit') %>
        </div>
      <% end %>
    </aside>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%= render :partial => "/blog/shared/categories" %>
  <%= render :partial => "/blog/shared/posts" %>
  <%= render :partial => "/blog/shared/rss_feed" %>
  <%= blog_archive_list %>
<% end %>

<%= render :partial => "/shared/content_page" %>
<% content_for :head, stylesheet_link_tag('refinerycms-blog') %>