<% content_for :body_content_left do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>

  <% if BlogPost.comments_allowed? %>
    <aside id="comments">
      <h2><%= t('.comments.title') %></h2>

      <% if (comments = @blog_post.comments.approved).any? %>
        <%= render :partial => "comment", :collection => comments %>
      <% else %>
        <p>
          <%= t('blog.shared.comments.none') %>.
        </p>
      <% end %>

      <% flash.each do |key, value| %>
        <div id='flash' class="flash flash_<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <h2><%= t('.comments.add') %></h2>
      <% form_for [:blog_post, @blog_comment] do |f| %>
        <%= f.error_messages %>

        <div class='field'>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class='field'>
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class='field message_field'>
          <%= f.label :message %>
          <%= f.text_area :message, :rows => 6 %>
        </div>
        <div class='field form-actions'>
          <%= f.submit t('.submit') %>
        </div>
      <% end %>
    </aside>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%= render :partial => "/blog/shared/categories" %>
  <%= render :partial => "/blog/shared/posts" %>
  <%= render :partial => "/blog/shared/rss_feed" %>
  <%= blog_archive_list %>
<% end %>

<%= render :partial => "/shared/content_page", :locals => { :remove_automatic_sections => true }  %>

<% if Refinery.version < '0.9.9' %>
  <% content_for :head_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :head do %>
    <%= stylesheet_link_tag 'refinerycms-blog' %>
    <%= javascript_include_tag('refinerycms-blog') %>
    <% if BlogPost::ShareThis.enabled? %>
      <script src="http://w.sharethis.com/button/buttons.js"></script>
      <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
    <% end %>
  <% end %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
  <% content_for :before_javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
  <% content_for :javascripts do %>
    <%= javascript_include_tag 'refinerycms-blog' %>
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script>stLight.options({publisher:'<%= BlogPost::ShareThis.key %>'});</script>
  <% end if BlogPost::ShareThis.enabled? %>
<% end %>
