<% content_for :body_content_left do %>
  <%= raw @page.content_for(::Refinery::Pages.config.default_parts.first.to_sym) if ::Refinery::Pages.config.default_parts.any? %>

  <% if @blog_posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @blog_posts %>
      <%= will_paginate @blog_posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<% content_for :body_content_right_prepend do -%>
  <%= raw @page.content_for(::Refinery::Pages.config.default_parts.second.to_sym) %>
<% end if ::Refinery::Pages.config.default_parts.many? -%>
<%= render :partial => '/refinery/blog/shared/body_content_right' %>

<%= render :partial => "/refinery/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
