<div id='actions' class='multilist'>
  <ul class='search_list'>
    <li>
      <%= render :partial => "/shared/admin/search",
                 :locals => {
                   :url => admin_blog_posts_url
                 } %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <%= link_to t('.posts.title'), '#',
                   :class => 'page_copy_icon' %>
    </li>
    <li>
      <%= link_to t('.posts.manage'), admin_blog_posts_path,
                   :class => 'page_icon' %>
    <li>
       <%= link_to t('.posts.new'), new_admin_blog_post_url,
                   :class => 'page_add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <%= link_to t('.comments.title'), '#',
                  :class => 'comments_icon' %>
    </li>
    <li>
      <%= link_to t('.comments.new'), admin_blog_comments_path,
                  :class => 'comment_icon' %>
    </li>
    <li>
      <%= link_to t('.comments.approved'), approved_admin_blog_comments_path,
                  :class => 'comment_tick_icon' %>
    </li>
    <li>
      <%= link_to t('.comments.rejected'), rejected_admin_blog_comments_path,
                  :class => 'comment_cross_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <%= link_to t('.categories.title'), admin_blog_categories_url,
                  :class => 'folder_icon' %>
    </li>
    <li>
      <%= link_to t('.categories.manage'), admin_blog_categories_url,
                  :class => 'folder_edit_icon' %>
    </li>
    <li>
      <%= link_to t('.categories.new'), new_admin_blog_category_url(:dialog => true),
                  :class => 'folder_add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <%= link_to t('.settings.title'), admin_blog_settings_path,
                  :class => 'settings_icon' %>
    </li>
    <li>
      <%= link_to t('.settings.moderation'), moderation_admin_blog_settings_url,
                  :class => "#{BlogComment::Moderation.enabled? ? 'success' : 'failure'}_icon" %>
    </li>
    <li>
      <%= link_to t('.settings.update_notified'),
                  notification_recipients_admin_blog_settings_url(:dialog => true, :height => 400),
                  :class => 'user_comment_icon' %>
    </li>
  </ul>

</div>
<% content_for :head do %>
  <!-- uses famfamfam icons and a couple Dave made -->
  <style type='text/css'>
    <%= File.open(File.expand_path('../../../../../public/stylesheets/refinerycms-blog.css', __FILE__), 'r').read %>
  </style>
  <script type='text/javascript'>
    <%= File.open(File.expand_path('../../../../../public/javascripts/refinerycms-blog.js', __FILE__), 'r').read %>
  </script>
<% end %>