<div id='actions'>
  <ul>
    <li>
      <%= render :partial => "/shared/admin/search",
                 :locals => {
                   :url => admin_blog_posts_url
                 } %>
    </li>
  </ul>

  <ul>
    <li<%= " class='selected'" if request.path == admin_blog_posts_path %>>
      <%= link_to t('.posts.title'), admin_blog_posts_path %>
    </li>
    <li>
       <%= link_to t('.posts.new'), new_admin_blog_post_url,
                   :class => "add_icon" %>
    </li>
  </ul>

  <ul style='margin-top: 30px'>
    <li<%= " class='selected'" if request.path == admin_blog_comments_path %>>
      <%= link_to t('.comments.new'), admin_blog_comments_path,
                  :class => 'user_comment_icon' %>
    </li>
    <li<%= " class='selected'" if request.path == approved_admin_blog_comments_path %>>
      <%= link_to t('.comments.approved'), approved_admin_blog_comments_path,
                  :class => 'user_comments_add_icon' %>
    </li>
    <li<%= " class='selected'" if request.path == rejected_admin_blog_comments_path %>>
      <%= link_to t('.comments.rejected'), rejected_admin_blog_comments_path,
                  :class => 'user_comments_delete_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu' style='margin-top: 30px'>
    <li<%= " class='selected'" if request.path == admin_blog_categories_path %>>
      <%= link_to t('.categories.title'), admin_blog_categories_url,
                  :class => 'category_icon'%>
    </li>
    <li>
      <%= link_to t('.categories.manage'), admin_blog_categories_url,
                  :class => 'edit_icon' %>
    </li>
    <li>
      <%= link_to t('.categories.new'), new_admin_blog_category_url(:dialog => true),
                  :class => 'add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu' style='margin-top: 30px'>
    <li<%= " class='selected'" if request.path == admin_blog_settings_path %>>
      <%= link_to t('.settings.title'), admin_blog_settings_path,
                  :class => 'settings_icon' %>
    </li>
    <li>
      <%= link_to t('.settings.moderation'), moderation_admin_blog_settings_url,
                  :class => 'tick_icon' # TODO: update to tick or cross later
                  %>
    </li>
    <li>
      <%= link_to t('.settings.update_notified'), update_notified_admin_blog_settings_url(:dialog => true),
                  :class => 'user_comment_icon' %>
    </li>
  </ul>

</div>
<% content_for :head do %>
  <script type='text/javascript'>
    $(document).ready(function(){
      $('ul.collapsible_menu').each(function(i, ul) {
        (first_li = $(this).children('li:first')).after(div=$("<div style='display: none'></div>"));
        $(this).children('li:not(:first)').appendTo(div);
        first_li.find('> a').click(function(e){
          $(this).css('background-image', "url('/images/refinery/ajax-loader.gif') !important");
          $(this).parent().next('div').animate({opacity: 'toggle', height: 'toggle'}, 250, $.proxy(function(){
            $(this).css('background-image', null);
          }, $(this)));
          e.preventDefault();
        });
      });
    });
  </script>
<% end %>