<nav id='actions' class='multilist'>
  <ul class='search_list'>
    <li>
      <%= render :partial => "/shared/admin/search",
                 :locals => {
                   :url => admin_blog_posts_url
                 } %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <%= link_to t('.posts.title'), '#',
                   :class => 'page_copy_icon' %>
    </li>
    <li>
      <%= link_to t('.posts.manage'), admin_blog_posts_path,
                   :class => 'page_icon' %>
    </li>
    <li>
       <%= link_to t('.posts.new'), new_admin_blog_post_url,
                   :class => 'page_add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <% if BlogComment.unmoderated.any? %>
        <% title = t('.comments.title_with_count', :new_count => BlogComment.unmoderated.size) %>
      <% else %>
        <% title = t('.comments.title') %>
      <% end %>
      <%= link_to title, '#',
                  :class => 'comments_icon' %>
    </li>
    <li>
      <%= link_to t('.comments.new'), admin_blog_comments_path,
                  :class => 'comment_icon' %>
    </li>
    <li>
      <%= link_to t('.comments.approved'), approved_admin_blog_comments_path,
                  :class => 'comment_tick_icon' %>
    </li>
    <li>
      <%= link_to t('.comments.rejected'), rejected_admin_blog_comments_path,
                  :class => 'comment_cross_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <%= link_to t('.categories.title'), '#',
                  :class => 'folder_icon' %>
    </li>
    <li>
      <%= link_to t('.categories.manage'), admin_blog_categories_url,
                  :class => 'folder_edit_icon' %>
    </li>
    <li>
      <%= link_to t('.categories.new'), new_admin_blog_category_url(:dialog => true, :height => 325),
                  :class => 'folder_add_icon' %>
    </li>
  </ul>

  <ul class='collapsible_menu'>
    <li>
      <%= link_to t('.settings.title'), admin_blog_settings_path,
                  :class => 'settings_icon' %>
    </li>
    <li>
      <%= link_to t('.settings.moderation'), moderation_admin_blog_settings_url,
                  :class => "#{BlogComment::Moderation.enabled? ? 'success' : 'failure'}_icon" %>
    </li>
    <li>
      <%= link_to t('.settings.update_notified'),
                  notification_recipients_admin_blog_settings_url(:dialog => true, :height => 400),
                  :class => 'user_comment_icon' %>
    </li>
  </ul>

</nav>
<% if Refinery.version < '0.9.9' %>
  <% content_for :head do %>
    <%= stylesheet_link_tag('refinery/refinerycms-blog') %>
    <%# this javascript is not even required in >= 0.9.9 because we made this sort of menu core. %>
    <%= javascript_include_tag('refinery/refinerycms-blog') %>
  <% end %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinery/refinerycms-blog')%>
<% end %>
