<%= render :partial => '/admin/blog/submenu' %>
<div id='records'>
  <% if searching? %>
    <h2><%= t('results_for', :scope => 'shared.admin.search', :query => params[:search]) %></h2>
    <% if @blog_categories.any? %>
      <%= render :partial => "blog_categories",
                 :collection => @blog_categories %>
    <% else %>
      <p><%= t('search_no_results', :scope => 'admin') %></p>
    <% end %>
  <% else %>
    <% if @blog_categories.any? %>
      <%= paginate @blog_categories %>

      <%= render :partial => "sortable_list" %>

      <%= paginate @blog_categories %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('new', :scope => 'admin.blog.submenu.categories')) %>
        </strong>
      </p>
    <% end %>
  <% end %>
</div>
