<% form_for [:admin, @blog_post] do |f| -%>
  <% if Rails.version < '3.0.0'%>
    <%= f.error_messages %>
  <% else %>
    <%= render :partial => "/shared/admin/error_messages",
               :locals => {
                 :object => f.object,
                 :include_object_name => true
               } %>
  <% end %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :body -%>
    <%= f.text_area :body, :rows => 20, :class => 'wymeditor widest' -%>
  </div>
  <div id='more_options_field'>
    <p>
      <%= link_to t('.advanced_options'), "#",
                  :id => 'toggle_advanced_options',
                  :title => t('.toggle_advanced_options') %>
    </p>
    <span id='draft_field'>
      <%= f.check_box :draft %>
      <%= f.label :draft, t('.save_as_draft'), :class => "stripped" %>
    </span>
  </div>
  <div id='more_options' style="display:none;">
    <div class="hemisquare">
      <h3><%= t('admin.blog.submenu.categories.title') %></h3>
      <ul class='blog_categories'>
        <% @blog_categories.each do |category| %>
          <li>
             <%= check_box_tag 'blog_post[category_ids][]', category.id,
                               @blog_post.categories.include?(category),
                               :id => (id="blog_post_category_ids_#{category.id}") %>
             <%= label_tag 'blog_post[category_ids][]', category.title,
                           :class => 'stripped',
                           :for => id %>
          </li>
        <% end %>
      </ul>
      <h3><%= t('admin.blog.posts.form.published_at') %></h3>
      <%= f.datetime_select :published_at %>
    </div>
    <div class='hemisquare right_side'>
    </div>
  </div>
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => true,
                :delete_title => t('admin.blog.posts.post.delete')
              } %>
<% end -%>
<% content_for :head do %>
  <style type='text/css'>
    ul.blog_categories, ul.blog_categories li {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
  </style>
<% end %>
<% content_for :javascripts do %>
  <script type='text/javascript'>
    $(document).ready(function(){
      $('#toggle_advanced_options').click(function(e){
        e.preventDefault();

        $('#more_options').animate({opacity: 'toggle', height: 'toggle'}, 250);

        $('html,body').animate({
          scrollTop: $('#toggle_advanced_options').parent().offset().top
        }, 250);
      });
    });
  </script>
<% end %>
