<% content_for :body_content_title, @blog_category.title %>

<% content_for :body_content_left do %>
  <% if @blog_posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @blog_posts %>
      <%= will_paginate @blog_posts %>
    </section>
  <% else %>
    <p>
      <%= t('.no_posts') %>
    </p>
  <% end %>
<% end %>

<% content_for :body_content_right do %>
  <%= render :partial => "/refinery/blog/shared/categories" %>
<% end %>

<%= render :partial => "/refinery/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
