<% content_for :body do %>
  <%= raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any? %>

  <% if @blogs.any? %>
    <section id="blog_posts">
      <ul>
      <% @blogs.each do |blog| %>
        <li><%= link_to blog.name, refinery.blog_blog_path(blog) %></li>
      <% end %>
      <%= will_paginate @blogs %>
      </ul>
    </section>
  <% else %>
    <p><%= t('.no_blogs_yet') %></p>
  <% end %>
<% end %>

<% content_for :side_body_prepend do -%>
  <%= raw @page.content_for(Refinery::Pages.default_parts.second.to_sym) %>
<% end if Refinery::Pages.default_parts.many? -%>

<%= render "/refinery/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
