<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(category) -%>">
  <span class='title'>
    <%= category.title.presence || category.translations.detect {|t| t.title.present?}.title %>
    <span class="preview">
      <% if Refinery::I18n.frontend_locales.many? %>
        <span class='locales'>
          <% category.translations.sort_by{ |t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
            <% if translation.title.present? %>
              <%= link_to refinery.edit_blog_admin_category_path(category,
                  :switch_locale => translation.locale),
                  :class => ['locale', translation.locale ],
                  :title => translation.locale.upcase do %>
                <div class="<%=translation.locale %> locale_marker">
                  <%= locale_text_icon(translation.locale.upcase) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </span>
      <% end %>
    </span>
  </span>
  <span class='actions'>
    <%= action_icon(:edit, refinery.edit_blog_admin_category_path(category), t('.edit') ) %>
    <%= action_icon(:delete,  refinery.blog_admin_category_path(category), t('.delete'),
      { class: "cancel confirm-delete",
      data: {confirm: t('message',  scope: 'refinery.admin.delete', title: category.title)}}  ) %>
  </span>
</li>
