<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(category) -%>">
  <span class='title'>
    <%= category.title.presence || category.translations.detect {|t| t.title.present?}.title %>
    <span class="preview">
      <% if Refinery::I18n.frontend_locales.many? %>
        <span class='locales'>
          <% category.translations.sort_by{ |t| Refinery::I18n.frontend_locales.index(t.locale)}.each do |translation| %>
            <% if translation.title.present? %>
              <%= link_to refinery.edit_blog_admin_category_path(category,
                  :switch_locale => translation.locale),
                  :class => 'locale',
                  :title => translation.locale.upcase do %>
                <div class="<%=translation.locale %> locale_marker">
                  <%= locale_text_icon(translation.locale.upcase) %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </span>
      <% end %>
    </span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"),
                refinery.edit_blog_admin_category_path(category),
                :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.blog_admin_category_path(category),
                :class => "cancel confirm-delete",
                :title => t('.delete'),
                :method => :delete,
                :data => {
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => category.title)
                } %>
  </span>
</li>
