<%= form_for [refinery, :blog_admin, @category] do |f| -%>
  <%= render "/refinery/admin/error_messages",
             :object => f.object,
             :include_object_name => true %>

  <%= render '/refinery/admin/locale_picker',
              :current_locale => Mobility.locale %>

  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <%= render "/refinery/admin/form_actions",
             :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.blog.admin.categories.category') %>
<% end %>
