<%= render '/refinery/blog/admin/submenu' %>
<%= render 'refinery/admin/search_header', :url => request.path %>
<% unless Refinery::Blog.category_orderable %>
<div id='records'>
  <% if @categories.any? %>
    
    <%= will_paginate @categories %>

    <%= render "sortable_list" %>

    <%= will_paginate @categories %>
  <% else %>
    <% if searching? %>
      <%= t('no_results', :scope => 'refinery.admin.search') %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('new', :scope => 'refinery.blog.admin.submenu.categories')) %>
        </strong>
      </p>
    <% end %>
  <% end %>
</div>
<% else %>
  <section id='records' class='tree'>
    <%= render 'refinery/admin/search_header', :url => refinery.admin_pages_path %>
    <% if @categories.any? %>
      <%= render 'sortable_list' %>
    <% else %>
      <p>
        <% if searching? %>
          <%= t('no_results', :scope => 'refinery.admin.search') %>
        <% else %>
          <strong><%= t('.no_items_yet', :create => t('new', :scope => 'refinery.blog.admin.submenu.categories')) %></strong>
        <% end %>
      </p>
    <% end %>
  </section>
  <%= render '/refinery/admin/make_sortable', options: {tree: true, replaceContentsAfterUpdate: true} if  @categories.many? -%>
<% end %>