<%= render '/refinery/blog/admin/submenu', :blog => @blog %>
<div id='records'>
  <% if searching? %>
    <h2><%= t('results_for', :scope => 'refinery.admin.search',
                             :query => params[:search]) %></h2>
    <% if @categories.any? %>
      <%= render :partial => "blog_categories",
                 :collection => @categories %>
    <% else %>
      <p><%= t('no_results', :scope => 'refinery.admin.search') %></p>
    <% end %>
  <% else %>
    <% if @categories.any? %>
      <%= will_paginate @categories %>

      <%= render "sortable_list" %>

      <%= will_paginate @categories %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('new', :scope => 'refinery.blog.admin.submenu.categories')) %>
        </strong>
      </p>
    <% end %>
  <% end %>
</div>
