<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= "comment-#{comment.to_param}" -%>">
  <span class='title'>
    <%= comment.name %>
    <span class="preview"> - <%= truncate(comment.message, :length => 75) %></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"),
                refinery.blog_post_path(comment.post.blog, comment.post, :anchor => "comment-#{comment.to_param}"),
                :title => t('.view_live_html'),
                :target => "_blank" unless comment.unmoderated? %>
    <%= link_to refinery_icon_tag('zoom.png'), refinery.blog_admin_blog_comment_path(comment.blog, comment),
                :title => t('.read') %>
    <%= link_to refinery_icon_tag("cross.png"),
                refinery.reject_blog_admin_blog_comment_path(comment.blog, comment),
                :method => :post,
                :title => t('.reject') unless comment.rejected? %>
    <%= link_to refinery_icon_tag("tick.png"),
                refinery.approve_blog_admin_blog_comment_path(comment.blog, comment),
                :method => :post,
                :title => t('.approve') unless comment.approved? %>
  </span>
</li>
