<%= render '/refinery/blog/admin/submenu', blog: @blog %>
<div id='records'>
  <% if searching? %>
    <h2><%= t('results_for', :scope => 'shared.admin.search', :query => params[:search]) %></h2>
    <% if @comments.any? %>
      <%= will_paginate @comments %>

      <ul>
        <%= render :partial => "blog_comments",
                   :collection => @comments %>
      </ul>

      <%= will_paginate @comments %>
    <% else %>
      <p><%= t('search_no_results', :scope => 'admin') %></p>
    <% end %>
  <% else %>
    <% if @comments.any? %>
      <%= will_paginate @comments %>

      <%= render "sortable_list" %>

      <%= will_paginate @comments %>
    <% else %>
      <h3>
        <%= t('.no_items_yet', :type => action_name.gsub('index', 'new').downcase) %>
      </h3>
    <% end %>
  <% end %>
</div>
