<% form_for [:admin, @blog_category] do |f| -%>
  <% if Rails.version < '3.0.0'%>
    <%= f.error_messages %>
  <% else %>
    <%= render :partial => "/shared/admin/error_messages",
               :locals => {
                 :object => f.object,
                 :include_object_name => true
               } %>
  <% end %>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('admin.blog.categories.category.delete')
              } %>
<% end %>