<%= render :partial => '/admin/blog/submenu' %>
<div id='records'>
  <% if searching? %>
    <h2><%= t('shared.admin.search.results_for', :query => params[:search]) %></h2>
    <% if @blog_categories.any? %>
      <%= render :partial => "blog_categories",
                 :collection => @blog_categories %>
    <% else %>
      <p><%= t('admin.search_no_results') %></p>
    <% end %>
  <% else %>
    <% if @blog_categories.any? %>
      <%= will_paginate @blog_categories,
                        :previous_label => '&laquo;',
                        :next_label => '&raquo;' %>

      <%= render :partial => "sortable_list" %>

      <%= will_paginate @blog_categories,
                        :previous_label => '&laquo;',
                        :next_label => '&raquo;' %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('admin.blog.submenu.categories.new')) %>
        </strong>
      </p>
    <% end %>
  <% end %>
</div>
